DJANGO_SECRET_KEY=cambiar-en-cada-instalacion
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=*
DB_ENGINE=postgres
POSTGRES_DB=tocayos
POSTGRES_USER=tocayos
POSTGRES_PASSWORD=tocayos-local
POSTGRES_HOST=db
POSTGRES_PORT=5432
SUCURSAL_CLAVE=ARBOLEDAS
PRINT_BACKEND=tcp
PRINT_SYNC=false
PRINTER_CAJA_HOST=192.168.0.33
PRINTER_COCINA_HOST=192.168.0.33
PRINTER_BARRA_HOST=192.168.0.33
PRINTER_PORT=9100
PRINTER_TIMEOUT=5
